{% extends 'base.html.twig' %}

{% block title %}Hello ControleurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 950px; width: 95%; font: 18px/1.5 sans-serif;  color: hotpink; }
   
    .example-wrapper  { background: lightgray ; padding: 2px 6px; }
    h2 { color: black; }
    .para { color: chocolate; }
</style>
<h1> Liste des theses tendance</h1>

{% for th in infothese %}    

{{include('controleur/thesis.html.twig',{titre:th.titre,contact:th.contact,Description:th.Description})}}


{%endfor%}

{% endblock %}
